.container{
    height: 600px;
    width: 1000px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card{
    height: 250px;
    width: 75%;
    margin: 25px;
    background-color: white;
}

h1{
    margin: 50px;
}

.card3{
    grid-column-start:2;
    grid-column-end:3;
}